@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cinza: #1A1515;
    --vermelho: #DA2626;
    --fonte--principal: 'Inter';
    --branco: #C8BCBC;
    --preto: #120404;
}

body{
    font-family: var(--fonte--principal);
    color: var(--branco);
    background-color: var(--preto);
}

.cabecalho {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
    position: fixed;
}

.titulo_cabecalho{
    color: var(--vermelho);
    font-size: 1.5rem;
    font-weight: 700;
}

.navegacao_cabecalho{
    display: flex;
    gap: 32px;
}

.link_cabecalho{
    font-size: 1rem;
    color: var(--vermelho);
    font-weight: 700;
}

.link_cabecalho:hover{
    text-decoration: underline;
}

.principal{
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../assets/Imagem\ de\ fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 490px;
}

.conteudo{
    width: 562px;
    height: 246px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.texto_padrao{
    line-height: 29px;
}

.botao_link{
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--preto);
    background-color: var(--vermelho);
    padding: 32px;
    border-radius: 25px;
    font-weight: 700;
}

