@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cinza: #1A1515;
    --vermelho: #DA2626;
    --fonte--principal: 'Inter';
    --branco: #C8BCBC;
    --preto: #120404;
}

body{
    font-family: var(--fonte--principal);
    color: var(--branco);
    background-color: var(--preto);
}

/*Espaço entre as linhas dos textos*/
.texto_padrao{
    line-height: 29px;
}

/*Botões*/
.botao_link{
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--preto);
    background-color: var(--vermelho);
    padding: 32px;
    border: 2px solid transparent;
    border-radius: 25px;
    font-weight: 700;
    transition: 0.5s;
}

.botao_link:hover{
    background-color: transparent;
    color: var(--vermelho);
    border-color: var(--vermelho);
    transition: 0.5s;
}

/*titulos*/
.titulos_vermelhos{
    color: var(--vermelho);
    font-size: 1.5rem;
    font-weight: 700;
}

.titulos_brancos{
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: 700;
}


.imagem_normal{
    background-image: url(../assets/Imagem_de_fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagem_invertida{
    background-image: url(../assets/Imagem_de_fundo_invertida.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Cabeçalho*/
.cabecalho {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
}

.navegacao_cabecalho{
    display: flex;
    gap: 32px;
}

.link_cabecalho{
    font-size: 1rem;
    color: var(--vermelho);
    font-weight: 700;
}

.link_cabecalho:hover {
  text-decoration: underline;
}


/*Sessão main*/
.principal{
    height: 100vh;
    padding: 200px 439px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Sessão sobre*/
.sobre{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 130px 300px;
}

.titulo_principal{
    color: var(--branco);
    font-size: 2rem;
    font-weight: 700;
}

.conteudo_sobre{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.link_sobre{
    width: 332px;
    height: 82px;
}


/*Rodapé*/
.rodape{
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 32px;
}

.links_rodape{
    display: flex;
    gap: 44px;
}

.link_rodape{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--vermelho);
    font-size: 1rem;
    font-weight: 700;
    border: 5px solid var(--vermelho);
    border-radius: 25px;
    padding: 13px 25px;
    transition: 0.5s;
}

.link_rodape:hover{
    background-color: var(--vermelho);
    color: var(--preto);
    border-color: transparent;
    transition: 0.5s;
}



/*Página de projetos*/
.sessao_projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 132px;
    height: 100vh;
}

.container{
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    gap: 67px;
}

.conteudo_projetos{
    display: flex;
    align-items: center;
    gap: 48px;
}

.video{
    width: 50%;
}

.link_visitar{
    font-size: 1rem;
    color: var(--vermelho);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.link_visitar:hover{
    text-decoration: underline ;
}


